<div class="span8 offset2">
	<p>Conversation with <%= @conversation.from_names(@current_user.nickname) %></p>

	<div id="tweets">
		<div class="new-tweet">
			<form action="<%= url "/conversations/#{@conversation.id}/reply" %>" method="post">
				<p>
					<textarea name="reply"><%= @conversation.from_names_at(@current_user.nickname) %></textarea>
				</p>
				<p>
					<input type="submit" value="reply" class="btn btn-primary" />
				</p>
			</form>
		</div>

		<% for tweet in @conversation.tweets.order('tweeted_at DESC') %>
			<div class="tweet">
				<p><strong>@<%= tweet.from_name %>:</strong></p>
				<p><%= tweet.text %></p>
			</div>
		<% end %>
	</div>
</div>